.hero {
  display: block;
  height: 100%;
  width: 100%;
}

.hero__image {
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .hero__image {
    height: 600px;
    min-width: 1000px;
  }
}
