@import url('./app-bar.css');
@import url('./hero-image.css');

:root {
  --font-sans: 'Raleway', sans-serif;
  --font-serif: 'Lora', serif;
  --color-zeus: #1d1917;
  --color-white: #ffffff;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--font-serif);
  font-size: 1rem;
  line-height: 1.5;
  color: #1d1917;
}

header {
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}
