@import url('./app-bar.css');

:root {
  --font-small: 0.75rem;
  --font-base: 1rem;
  --font-medium: 1.333rem;
  --font-large: 1.777rem;
  --font-xl: 2.369rem;
  --font-2xl: 3.157rem;
  --font-3xl: 4.209rem;
  --font-sans: 'Raleway', sans-serif;
  --font-serif: 'Lora', serif;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--font-serif);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}
