@import url('./app-bar.css');
@import url('./hero-image.css');
@import url('./card.css');

:root {
  --font-sans: 'Raleway', sans-serif;
  --font-serif: 'Lora', serif;
  --color-zeus: #1d1917;
  --color-white: #ffffff;
  --color-espresso: #633119;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-serif);
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--color-white);
  color: var(--color-zeus);
}

header {
  background-color: var(--color-white);
}

footer {
  margin-top: auto;
  padding-block: 2rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 700;
  text-align: center;
  background-color: var(--color-zeus);
  color: var(--color-white);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
  font-weight: 700;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.skip-link {
  position: absolute;
  top: -3rem;
  left: 0;
  z-index: 90;
  padding-block: 0.5em;
  padding-inline: 1.25em;
  font-weight: 700;
  background-color: var(--color-espresso);
  color: var(--color-white);
}

.skip-link:focus {
  top: 0;
}
